<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freedom.copy_wechat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
 	<uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/title_main"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <!-- WeChatStart -->
        <activity
            android:name="com.freedom.copy_wechat.common.utils.adapter.AdapterActivity"
            android:label="@string/title_main" 
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.freedom.copy_wechat.WeChatStart"  
            android:theme="@style/Anim_style2"  
            android:screenOrientation="portrait"/><!--  初始为竖屏 -->
        <activity 
            android:name="com.freedom.copy_wechat.WelcomeLogin"  
            android:theme="@style/Anim_style2"  
            android:screenOrientation="portrait"/><!--  初始为竖屏 -->
        <activity 
            android:name="com.freedom.copy_wechat.LoadingLogin"  
            android:theme="@style/MyDialogStyle"
 			android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity 
            android:name="com.freedom.copy_wechat.Welcomes"  
            android:theme="@style/Anim_style2" 
 			android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity 
            android:name="com.freedom.copy_wechat.WelcomeRegister"  
            android:theme="@android:style/Theme.NoTitleBar" 
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity 
            android:name="com.freedom.copy_wechat.WelcomesDoorOpen" 
            android:theme="@style/Anim_style2" 
            android:configChanges="orientation|keyboardHidden|screenSize"/> 
        <activity 
            android:name="com.freedom.copy_wechat.WeChatMain" 
            android:theme="@style/Anim_style2" 
            android:configChanges="orientation|keyboardHidden|screenSize"/> 
        <activity 
            android:name="com.freedom.copy_wechat.main.ChatActivity"  
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name="com.freedom.copy_wechat.main.ShakeActivity"  
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name="com.freedom.copy_wechat.virtualdata.Infofengnv"  
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name="com.freedom.copy_wechat.main.Exit" 
            android:theme="@style/MyDialogStyle" />        
        <activity 
            android:name="com.freedom.copy_wechat.main.ExitFromSettings" 
            android:theme="@style/MyDialogStyleBottom" /> 
        <activity 
            android:name="com.freedom.copy_wechat.virtualdata.InfofengnvHead" 
            android:theme="@style/HeadScale" />
        <activity 
            android:name="LoadingActivity" 
            android:theme="@style/MyDialogStyle" />             
        <activity 
            android:name="com.freedom.copy_wechat.main.MainTopRightDialog" 
            android:theme="@style/MyDialogStyleTop" /> 
         
        <!-- ========================================================= -->  
        <!--  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"  --> 
        <activity 
             android:name="com.freedom.copy_wechat.main2.WeChatMain2" 
             android:theme="@style/Anim_style2"
             android:screenOrientation="portrait"/>
         
            
    </application>

</manifest>
